* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: $colore-testo;
    font-family: $font-family;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.container-2 {
    max-width: 800px;
    margin: auto;
}

.container-3 {
    max-width: 1440px;
    margin: auto;
}

h1 {
    font-size: $titolo-h1;
    font-weight: 500;
    line-height: 62px;
}

h2 {
    font-size: $titolo-h2;
}

p {
    font-size: $testo-p;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

















// END
