nav {

    .nav-menu {
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #ddd;

        ul {
            width: 500px;
            font-size: 14px;
            font-weight: 500;
            display: flex;
            justify-content: space-between;
            align-items: center;

            li a {
                transition: 200ms ease-out;

                &:hover {
                    color: $colore-blu-hover;
                    border-bottom: 1px solid $colore-blu-hover;
                }
            }

        }

        button {
            transition: background-color 300ms ease-out;
            @include button(#fff);

            &:hover {
                background-color: $colore-blu-hover;
                color: #fff;
            }

            &:active {
                transform: scale(0.95);
            }
        }
    }

}

#jumpotron {
    height: 650px;
    display: flex;
    align-items: center;

    .jumpotron {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

        .jumbo-img img {
            display: block;
            width: 100%;
        }

        .jumbo-testi {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        p {
            font-size: 23px;
            margin: 40px 0px;
            padding-right: 50px
        }

        small {
            color: #aaa;
            margin: 0px 15px;
        }

        a {
            font-size: 15px;
            margin-top: 30px;

            &:hover {
                color: $colore-blu-hover;
            }
        }
    }
}


















// END
