* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: #58402c;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.container-2 {
  max-width: 800px;
  margin: auto;
}

.container-3 {
  max-width: 1440px;
  margin: auto;
}

h1 {
  font-size: 50px;
  font-weight: 500;
  line-height: 62px;
}

h2 {
  font-size: 26px;
}

p {
  font-size: 19px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

button {
  font-weight: 500;
  border: 1px solid #30488f;
  padding: 5px 15px;
  border-radius: 10px;
  background-color: #30488f;
  cursor: pointer;
  outline: none;
  color: #fff;
  transition: 300ms ease-out;
}

button:hover {
  background-color: #233569;
}

nav .nav-menu {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

nav .nav-menu ul {
  width: 500px;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .nav-menu ul li a {
  transition: 200ms ease-out;
}

nav .nav-menu ul li a:hover {
  color: #233569;
  border-bottom: 1px solid #233569;
}

nav .nav-menu button {
  transition: background-color 300ms ease-out;
  font-weight: 500;
  border: 1px solid #30488f;
  padding: 5px 15px;
  border-radius: 10px;
  background-color: #fff;
  cursor: pointer;
  outline: none;
}

nav .nav-menu button:hover {
  background-color: #233569;
  color: #fff;
}

nav .nav-menu button:active {
  transform: scale(0.95);
}

#jumpotron {
  height: 650px;
  display: flex;
  align-items: center;
}

#jumpotron .jumpotron {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

#jumpotron .jumpotron .jumbo-img img {
  display: block;
  width: 100%;
}

#jumpotron .jumpotron .jumbo-testi {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#jumpotron .jumpotron p {
  font-size: 23px;
  margin: 40px 0px;
  padding-right: 50px;
}

#jumpotron .jumpotron small {
  color: #aaa;
  margin: 0px 15px;
}

#jumpotron .jumpotron a {
  font-size: 15px;
  margin-top: 30px;
}

#jumpotron .jumpotron a:hover {
  color: #233569;
}

#main-top {
  background-color: #ffe7d2;
  text-align: center;
}

#main-top h2 {
  padding: 90px 0px;
}

#main-top hr {
  margin: 90px auto;
  color: #888;
  height: 1px;
}

#main-top .traditional-people,
#main-top .modern-people {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-auto-rows: minmax(150px, 3fr);
  justify-content: center;
  grid-gap: 80px;
}

#main-top .traditional-people .card img,
#main-top .modern-people .card img {
  display: block;
  width: 100%;
}

#main-top .traditional-people .card p,
#main-top .modern-people .card p {
  font-size: 16px;
  margin-top: 30px;
}

#main-top .traditional-people .card-4,
#main-top .modern-people .card-4 {
  grid-column: 2/3;
  justify-self: center;
}

#main-top .traditional-people .card-4 img,
#main-top .modern-people .card-4 img {
  width: auto;
  height: 100%;
}

#main-bottom {
  padding: 90px 0px;
}

#main-bottom .row {
  padding: 50px 0px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 30px;
}

#main-bottom .row .box-text {
  display: grid;
  grid-template-columns: 55% 1fr;
}

#main-bottom .row .box-text p {
  padding: 20px 0px;
}

#main-bottom .row .box-text figure {
  text-align: center;
}

#main-bottom .row .box-text figure img {
  margin-top: 30px;
  width: 70%;
}

#main-bottom .row .box-text-2 {
  display: grid;
  grid-template-columns: 1fr 55%;
}

#main-bottom .row .box-text-2 .float-right {
  grid-column: 2/3;
}

#main-bottom .row .box-text-2 p {
  padding: 20px 0px;
}

#main-bottom .row .box-text-2 figure {
  text-align: center;
}

#main-bottom .row .box-text-2 figure img {
  margin-top: 30px;
  width: 70%;
}

#get-started {
  padding: 90px 0px;
  background-color: #ffe7d2;
}

#get-started .container-2 {
  padding: 0px 60px;
}

#get-started h1 {
  font-size: 42px;
  line-height: 62px;
  text-align: center;
}

#get-started .box-testo {
  border: 1px solid #888;
  background-color: #fff;
  border-radius: 5px;
  padding: 25px 40px;
  margin: 50px 0px;
  position: relative;
}

#get-started .box-testo img.quote {
  width: 40px;
  position: absolute;
  top: -21px;
  left: -1px;
}

#get-started .box-testo p {
  font-size: 16px;
}

#get-started .box-testo .Alex-Bohdan {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

#get-started .box-testo .Alex-Bohdan img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #888;
  margin-right: 10px;
}

#get-started .box-testo .Alex-Bohdan p {
  font-size: 13px;
  color: #30488f;
}

#get-started .box-testo .Alex-Bohdan small {
  font-size: 12px;
}

#get-started .jumbo-bottoni {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#get-started .jumbo-bottoni small {
  margin: 0px 15px;
  color: #aaa;
}

#get-started .jumbo-bottoni div:nth-child(2) {
  padding-top: 30px;
}

#get-started .jumbo-bottoni div:nth-child(2) a {
  font-size: 14px;
}

footer {
  padding: 90px 0px;
}

footer .container {
  display: grid;
  grid-template-columns: 50px 350px auto;
  grid-gap: 25px;
}

footer p {
  font-size: 17px;
  font-weight: 600;
}

footer p span {
  color: #30488f;
}

footer .menu-footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  grid-gap: 15px;
}

footer .menu-footer li {
  margin-bottom: 10px;
  cursor: pointer;
}

footer .menu-footer li:first-child {
  font-size: 16px;
  font-weight: 700;
}

footer .menu-footer li:hover a {
  color: #233569;
}

footer .menu-footer a {
  font-size: 14px;
}

